
body{
    background-color: #eee;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: red;
}

h1, h2, h3{
    margin: 0;
}

#container{
    background-color: white;
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
}

#content {
    padding: 5px;
}

#nav{
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected{
    font-weight: bold;
}


#main{
    width: 600px;
    float: left;
}

#footer{
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: #ffffff;
    text-align: left;
}

tr, td{
    padding: 30px;

}